body {
    background-image: url(https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
  }
  
  div {
    width: 400px;
    height: 400px;
    padding: 50px;  
    margin: auto auto;
    background: #D1D1D1;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    color: black;
    opacity: .8;
  }
  
  h1 {
    font-size: 20pt;
    align-self: center;
    font-family: 'PT Serif', serif;
  }
  
  button {
    font-size: 14pt;
    display: inline-block;
    margin: auto;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    border: none;
  }
  
  .quote {
    margin: 10px; 
    height: 100px;
    font-size: 14pt;
  }
  
  .author {
    display: block;
    margin: 0 20px 0 auto;
    font-size: 18pt;
  }